**************/
/* YOUR STYLES */
/***************/

/* Color Palette */
.color-1{
	background-color: #946A33;
    border: none;
}

.color-2{
	background-color: #943333;
    border: none;
}

.color-3{
	background-color: #33947C;
    border: none;
}

.color-4{
	background-color: #CCAD85;
    border: none;
}

/* Textures or Patterns*/
.pattern-1{
	background: url(../img/purty_wood.png);
    border: none;
}

.pattern-2{
	background: url(../img/subtle_stripes.png);
    border: none;
}

.pattern-3{
	background: url(../img/swirl-2.png);
    border: none;
}

/* Imagery */

.imagery-1,
.imagery-2,
.imagery-3,
.imagery-4,
.imagery-5{
	border: none;
}

/* Icons */
.icon-1,
.icon-2,
.icon-3{
	border: none;

}

/* navigation */

.nav-1 a{
	text-decoration: none;
	color: #33947C;
}
.nav-1 ul{
	padding-left: 5%;
}

.nav-1 li{
	list-style: none;
}

section p a{
	text-decoration: none;
	color: #943333;
}

section p button{
	background: #CCAD85;
	border: none;
}

/* Typography */


/* Forms */
.button-a{
	background: none;
	border: 2px dashed black;
}
.button-b{
	background: none;
	border: 2px dotted black;
}

input{
	color: black;
}

/* Tables */


/* Cards 